@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #094B30;
  --secondary-color: #297D56;
  --accent-color: #45A378;
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
  }
}

@font-face {
  font-family: 'Haboro Contrast';
  src: url('/fonts/HaboroContrast-ExtBk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3-Regular.ttf') format('truetype'),
       url('/fonts/SourceSans3-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}