@import url('https://fonts.googleapis.com/css2?family=Haboro+Contrast:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #094B30;
  --secondary-color: #297D56;
  --accent-color: #45A378;
}

body {
  font-family: 'Haboro Contrast', serif;
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
  }
}

/* Add any additional custom styles here */